{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <!--Main Logo-->
        <div
            class="brand-logo d-flex align-items-center justify-content-between"
        >
            <a href="{% url 'dashboard' %}" class="text-nowrap logo-img">
                <img src={% static "images/logos/dark-logo.svg" %} width="180"
                alt="" />
            </a>
            <div
                class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
                id="sidebarCollapse"
            >
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->

        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav" class="">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <!--Dashboard-->
                <li class="sidebar-item">
                    <a
                        class="sidebar-link"
                        href="{% url 'dashboard' %}"
                        aria-expanded="false"
                    >
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>

                <!--Manage Users-->
                <!--prettier-ignore-->
                {% if user.role|lower == "admin" or user.role|lower == "project manager"%}
                <li class="sidebar-item">
                    <a
                        class="sidebar-link"
                        href="{% url 'users' %}"
                        aria-expanded="false"
                    >
                        <span>
                            <i class="ti ti-users"></i>
                        </span>
                        <span class="hide-menu">Manage Users</span>
                    </a>
                </li>
                {% endif %}

                <!--Manage Projects-->
                <li class="sidebar-item">
                    <a
                        class="sidebar-link"
                        href="{% url 'projects' %}"
                        aria-expanded="false"
                    >
                        <span>
                            <i class="ti ti-layout-kanban"></i>
                        </span>
                        <span class="hide-menu">My Projects</span>
                    </a>
                </li>

                <!--Manage Ticket-->
                <li class="sidebar-item">
                    <a
                        class="sidebar-link"
                        href="{% url 'tickets' %}"
                        aria-expanded="false"
                    >
                        <span>
                            <i class="ti ti-ticket"></i>
                        </span>
                        <span class="hide-menu">My Tickets</span>
                    </a>
                </li>

                <!--User Management-->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Settings</span>
                </li>
                <li class="sidebar-item">
                    <a
                        class="sidebar-link"
                        href="./index.html"
                        aria-expanded="false"
                    >
                        <span>
                            <i class="ti ti-user-circle"></i>
                        </span>
                        <span class="hide-menu">My Profile</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
