{% extends 'base.html' %}
<!--break-->
{% load static %}
<!--break-->

{% block title %} Projects {% endblock title %}
<!--break-->

{% block subtitle %} Projects {% endblock subtitle %}

<!--break-->

{% block content %} {% include 'partials/_messages.html' %}
<div class="row">
    <div class="col d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">User List</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Name</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Description
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Priority</h6>
                                </th>

                                <th
                                    class="border-bottom-0"
                                    style="width: 20%"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="border-bottom-0">
                                    <a href="{% url 'update-user' user.id%}">
                                        <h5 class="fw-semibold mb-1">
                                            {{user.username}}
                                        </h5>
                                    </a>
                                    <p class="fw-normal">
                                        <small> {{user.username}}</small>
                                    </p>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">{{user.role}}</p>
                                </td>
                                <td class="border-bottom-0">
                                    <div
                                        class="d-flex align-items-center gap-2"
                                    >
                                        <span
                                            class="badge bg-primary rounded-3 fw-semibold"
                                            >Low</span
                                        >
                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <div
                                        class="d-flex align-items-center justify-content-center gap-2"
                                    >
                                        <a
                                            href=""
                                            class="btn btn-secondary btn-sm"
                                            >Edit</a
                                        >
                                        <button
                                            class="btn btn-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->

                            <div
                                class="modal fade"
                                id="exampleModal"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="exampleModalLabel"
                                            >
                                                Modal title
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this
                                            project
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <a href="" class="btn btn-danger"
                                                >Delete</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="pagination-container">
                    <div class="row">
                        <div class="col">
                            Showing page {{page_obj.number}} of
                            {{page_obj.paginator.num_pages}}
                        </div>
                        <div class="col d-flex justify-content-end">
                            <ul
                                class="pagination align-right float-right mr-auto"
                            >
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">
                                        &laquo; 1</a
                                    >
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="?page={{page_obj.previous_page_number}}"
                                        >Previous</a
                                    >
                                </li>
                                {% endif %} {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="?page={{page_obj.next_page_number}}"
                                        >Next</a
                                    >
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="?page={{page_obj.paginator.num_pages}}"
                                    >
                                        {{page_obj.paginator.num_pages}} &raquo;
                                    </a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
