{% extends 'base.html' %}
<!--break-->
{% load static %}
<!--break-->

{% block title %} Projects {% endblock title %}
<!--break-->

{% block subtitle %} Ticket Details {% endblock subtitle %}
<!--break-->

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6">
                <h4 class="fw-semibold mb-4">About Ticket</h4>
                <!--Ticket Detail-->
                <div class="card">
                    <div class="card-body">
                        <h6 class="fw-normal mb-2">Ticket Title</h6>
                        <h5 class="fw-semibold">{{ticket.title}}</h5>
                        <hr />
                        <h6 class="fw-normal mb-2">Ticket Description</h6>
                        <h5 class="fw-semibold">{{ticket.description}}</h5>
                        <hr />
                        <h6 class="fw-normal mb-2">Submitted By:</h6>
                        <h5 class="fw-semibold">{{ticket.submitter}}</h5>
                        <hr />
                        <h6 class="fw-normal mb-2">Assigned To:</h6>
                        <h5 class="fw-semibold">{{ticket.developer}}</h5>
                        <hr />
                        <h6 class="fw-normal mb-2">Ticket Type</h6>
                        <h5 class="fw-semibold">{{ticket.type}}</h5>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-normal me-3 mb-0">
                                        Ticket Status
                                    </h6>
                                    <span
                                        class="badge 
                                        {% if  ticket.status == "new"%}
                                        bg-primary
                                        {% elif ticket.status == "open" %}
                                        bg-danger
                                        {% elif ticket.status == "inprogress" %}
                                        bg-warning
                                        {% elif ticket.status == "resolved" %}
                                        bg-success
                                        {% elif ticket.status == "additional information required" %}
                                        bg-info
                                        {% endif %}
                                        rounded-3 fw-semibold"
                                        >{{ticket.status}}</span
                                    >
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-normal me-3 mb-0">
                                        Ticket Priority
                                    </h6>
                                    <span
                                        class="badge 
                                        {% if  ticket.priority == "None"%}
                                        bg-primary
                                        {% elif ticket.priority == "Low" %}
                                        bg-info
                                        {% elif ticket.priority == "Medium" %}
                                        bg-warning
                                        {% elif ticket.priority == "High" %}
                                        bg-danger
                                       
                                        {% endif %}
                                        rounded-3 fw-semibold"
                                        >{{ticket.priority}}</span
                                    >
                                </div>
                            </div>
                        </div>
                        <hr />

                        <h6 class="fw-normal mb-2">Project</h6>
                        <h5 class="fw-semibold">{{ticket.project.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!--Comment Section-->
                        <div class="my-3">
                            <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Commenter
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Comment
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Created At
                                            </h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for comment in ticket.comment_set.all %}
                                    <tr>
                                        <td class="border-bottom-0">
                                           
                                                <h6
                                                    class="fw-semibold mb-1"
                                                >
                                            {{ comment.commenter}}
                                            </h6>
                                            
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">
                                                <a
                                                    href=""
                                                    class="text-dark"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#commentid{{comment.id}}"
                                                >
                                                    <!--prettier-ignore-->
                                                    {{ comment.comment|truncatechars:15}}
                                                </a>
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div
                                                class="d-flex align-items-end justify-content-end gap-2"
                                            >
                                                <span
                                                    class="badge bg-primary rounded-3 fw-semibold"
                                                >
                                                    <!--prettier-ignore-->
                                                    {{ comment.created_at|timesince }} ago
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Comment Detail Model -->
                                    <div
                                        class="modal fade"
                                        id="commentid{{comment.id}}"
                                        tabindex="-1"
                                        aria-labelledby="exampleModalLabel"
                                        aria-hidden="true"
                                    >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5
                                                        class="modal-title"
                                                        id="exampleModalLabel"
                                                    >
                                                        Comment Details:
                                                    </h5>

                                                    <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                    ></button>
                                                </div>

                                                <div class="modal-body">
                                                    <h5>{{comment.comment}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Add Comment-->
                        <h4 class="mb-3">Add comment:</h4>
                        <div class="">
                            <form class="" action="" method="POST">
                                {% csrf_token %} {% for field in form %}

                                <div
                                    class="form-group mb-3 {% if field.errors %} errors {% endif %}"
                                >
                                    {{ field }} {{ field.errors }}
                                </div>

                                {% endfor %}
                                <button
                                    type="submit"
                                    class="btn btn-primary mx-1 py-1"
                                >
                                    Comment
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
