{% extends 'base.html' %}
<!--break-->
{% load static %}
<!--break-->
{% block title %} Projects {% endblock title %}
<!--break-->

{% block subtitle %} Add Project {% endblock subtitle %}
<!--break-->

{% block content %}

<div class="row">
    <div class="col-md-7">
        <h4 class="fw-semibold mb-4">Add Project</h4>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    <!--break-->
                    {% for field in form %}
                    <div
                        class="form-group mb-3 {% if field.errors %} errors {% endif %}"
                    >
                        <label for="exampleFormControlInput1" class="form-label"
                            >{{ field.label_tag }}</label
                        >
                        {{ field }} {{ field.errors }}
                    </div>

                    {% endfor %}

                    <button class="btn btn-primary my-3" type="submit">
                        Create Project
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
