{% extends 'base.html' %}
<!--break-->
{% load static %}
<!--break-->

{% block title %} Projects {% endblock title %}
<!--break-->

{% block subtitle %} Project Details {% endblock subtitle %}
<!--break-->

{% block content %}

<div class="row">
    <div class="col-12">
        <!--Header Part-->
        <h4 class="fw-semibold mb-4">Details about the Project</h4>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="fw-normal mb-2">Project Name</h6>
                        <h5 class="fw-semibold">{{project.name}}</h5>
                    </div>
                    <div class="col-md-6">
                        <h6 class="fw-normal mb-2">Project Description</h6>
                        <h5 class="fw-semibold">{{project.description}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <!--Ticket List For Project-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <strong>Current Tickets</strong>
                            </div>

                            <a
                                href="{% url 'create_ticket' project.id%}"
                                class="btn btn-primary"
                            >
                                <span class="me-1">
                                    <i class="ti ti-circle-plus"></i> </span
                                >Create Ticket</a
                            >
                        </div>

                        <div>
                            <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Title
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Description
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Status
                                            </h6>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!--prettier-ignore-->
                                    {% for ticket in project.ticket_set.all %}
                                    <tr>
                                        <td class="border-bottom-0">
                                            <a
                                                href="{% url 'ticket_detail' ticket.id%}"
                                            >
                                                <h5 class="fw-semibold mb-1">
                                                    {{ticket.title}}
                                                </h5>
                                            </a>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">
                                                {{ticket.description|truncatechars:20}}
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div
                                                class="d-flex align-items-center gap-2"
                                            >
                                                <!--prettier-ignore-->
                                                {% include "tickets/partials/_status.html"%}
                                            </div>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Assigned Personnel-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col">
                                    <strong>Assigned Personnel</strong>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <button
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        class="btn btn-primary"
                                    >
                                        <span class="me-1">
                                            <i
                                                class="ti ti-circle-plus"
                                            ></i> </span
                                        >Add Personnel
                                    </button>
                                </div>
                            </div>
                            {% for user in project.personnels.all %}
                            <div class="d-flex flex-start mt-4">
                                <a class="me-3" href="#">
                                    <img
                                        class="rounded-circle shadow-1-strong"
                                        src="https://picsum.photos/200"
                                        alt="avatar"
                                        width="65"
                                        height="65"
                                    />
                                </a>
                                <div class="ms-3 flex-grow-1 flex-shrink-1">
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center"
                                        >
                                            <p class="mb-1">
                                                <!--prettier-ignore-->
                                                <strong> {{ user.username}}</strong
                                                        >
                                                <span class="small"
                                                    >-
                                                    <!--prettier-ignore-->
                                                    {{ user.role }}
                                                </span>
                                            </p>
                                        </div>
                                        <p class="small mb-0">{{user.email}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} {% comment %}
                            <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Name
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                email
                                            </h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">
                                                Role
                                            </h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--prettier-ignore-->
                                    {% for user in project.personnels.all %}
                                    <tr>
                                        <td class="border-bottom-0">
                                            <a href="">
                                                <h5 class="fw-semibold mb-1">
                                                    {{user.username}}
                                                </h5>
                                            </a>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">
                                                {{user.email}}
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div
                                                class="d-flex align-items-center gap-2"
                                            >
                                                <span
                                                    class="badge bg-primary rounded-3 fw-semibold"
                                                    >{{user.role}}</span
                                                >
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Modal -->

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add Personnel Modal-->
    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add Personnel
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        action="{% url 'add_personnel' project.id%}"
                        method="POST"
                    >
                        {% csrf_token %}
                        <select class="form-control" multiple name="users_list">
                            {% for user in users %}

                            <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                        </select>
                        <input
                            class="form-control mt-2"
                            type="submit"
                            value="Add Users"
                        />
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>
